html {
  background-image: url("https://wallpapercave.com/wp/wp661789.png")
}

.center {
  text-align: center;
}

.bigFont {
  font-size: 1.5em;
}

footer {
  /* Center at bottom of page*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -1px;
  background-color: #333;
  color: white;
  text-align: center;
}

.author {
  color:orange
}
